.btn-add{
    background-color: var(--green-2);
    border: none;
    color: var(--white);
    block-size: 3.325rem;
    cursor: pointer;
    font: var(--body-16regular);
}

.btn-danger{
    background-color: var(--red);
    border: none;
    color: var(--white);
    block-size: 3.325rem;
    cursor: pointer;
    font: var(--body-16regular);
}